<h2 id="title">Welcome to Ember</h2>

{{#ember-imdt-modal
  title="Título da modal"
  body="custom/body"
  footer="custom/footer"}}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
{{/ember-imdt-modal}}


{{#ember-imdt-modal title="Título da modal"}}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
{{/ember-imdt-modal}}

{{outlet}}
